 {% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC</title>

     <link rel="stylesheet" href="{% static 'style/style.css' %}">
     <link rel="stylesheet" href="{% static 'style/equipamentos-style.css' %}">

<!--    <link rel="stylesheet" href="style/style.css">-->
<!--    <link rel="stylesheet" href="style/equipamentos-style.css">-->

</head>

<body>


    <header>

        <div class="link-container">
            <a href="/cadastrar_inversor">Cadastrar Equipamento</a>
        </div>
        <div class="link-container" id="selected">
            <a href="/equipamentos/1">Equipamentos</a>
        </div>
        <div class="link-container">
            <a href="/cadastrar_localidade">Cadastrar usina</a>
        </div>
        <div class="link-container" >
            <a href="/">Usinas</a>
        </div>
        <div class="link-container">
            <a href="/performance">Performance</a>
        </div>
    </header>

    <div class="card-container-usina">

        <div class="card-usina">
            <h3 class="card-header-usina">{{usina.nome}}</h3>
            <div class="card-content-usina">{{usina.cidade}}</div>
            <div class="card-content-usina">Potencia: {{potencia}}</div>
        </div>

        <div class="card-usina">
            <h3 class="card-header-usina">Geração Hoje</h3>
            <div class="card-content-usina">{{totalDia}}</div>
        </div>
        <div class="card-usina">
            <h3 class="card-header-usina">Geração Mês</h3>
            <div class="card-content-usina">{{totalMes}}</div>
        </div>
        <div class="card-usina">
            <h3 class="card-header-usina">Geração Anual</h3>
            <div class="card-content-usina">{{totalAno}}</div>
        </div>
        <div class="card-usina">
            <h3 class="card-header-usina">Fator de Capacidade</h3>
            <div class="card-content-usina">WIP</div>
        </div>
        <div class="card-usina">
            <h3 class="card-header-usina">CO2 Anual</h3>
            <div class="card-content-usina">{{co2}}</div>
        </div>

    </div>



    <div class="content-equipamentos">

        <div class="usinas">
            <h2>Usinas</h2>
            {% for usina in usinas %}


                {% if usina.selected %}
                    <a onclick="location.href='/equipamentos/{{usina.id}}'"  class="selected">
                        <h4>{{usina.nome}}</h4>
                    </a>
                {% else %}
                    <a onclick="location.href='/equipamentos/{{usina.id}}'" >
                        <h4>{{usina.nome}}</h4>
                    </a>
                {% endif %}
            {% endfor %}


        </div>

        <div class="container-equipamentos">
            <h1>Equipamentos Monitorados</h1>

            <table class="equipments-list-table">
                <tr>
                    <th>Nome</th>
                    <th>Modelo</th>
                    <th>KWh Hoje</th>
                    <th>KWh Total</th>
                </tr>
                {% for inversor in inversores %}
                    <tr onclick="location.href='/visualizar-equipamento/{{usina.id}}/{{inversor.id}}'" class="clickable-row">
                        <td>{{inversor.nome}}</td>
                        <td>{{inversor.marca}}</td>
                        <td >{{inversor.dia}}</td>
                        <td >{{inversor.total}}</td>
                    </tr>
                {% endfor %}


            </table>
        </div>

        <div class="graph-containers">

            <div class="graph1">

                <img src="Potencia.png" alt="">

            </div>

            <div class="graph2">


                <img src="Potencia.png" alt="">


            </div>




        </div>


        </div>
    </div>




</body>

</html>