 {% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC</title>

     <link rel="stylesheet" href="{% static 'style/style.css' %}">
     <link rel="stylesheet" href="{% static 'style/index-style.css' %}">

<!--    <link rel="stylesheet" href="style/style.css">-->
<!--    <link rel="stylesheet" href="style/index-style.css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <header>
        <div class="link-container">
            <a href="/cadastrar_inversor">Cadastrar Equipamento</a>
        </div>
        <div class="link-container">
            <a href="/equipamentos/1/dia">Equipamentos</a>
        </div>
        <div class="link-container">
            <a href="/cadastrar_localidade">Cadastrar usina</a>
        </div>
        <div class="link-container" id="selected">
            <a href="/">Usinas</a>
        </div>
        <div class="link-container">
            <a href="/performance">Performance</a>
        </div>

    </header>

    <div class="card-container">
        <div class="card">
            <h3 class="card-header">Geração Dia</h3>
            <div class="card-content">{{totalDia}}</div>
        </div>
        <div class="card">
            <h3 class="card-header">Geração Mês</h3>
            <div class="card-content">{{totalMes}}</div>
        </div>
        <div class="card">
            <h3 class="card-header">Geração Anual</h3>
            <div class="card-content">{{totalAno}}</div>
        </div>
        <div class="card">
            <h3 class="card-header">CO2 Atual</h3>
            <div class="card-content">{{co2}}</div>
        </div>

    </div>



    <div class="content-index">
        <div class="container-list">

            <h1>Lista de Usinas</h1>
            <table class="factory-list-table">
                <tr>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>KWh Hoje</th>
                    <th>KWh Mês</th>
                    <th>Potência KW</th>

                </tr>
                {% for usina in usinas %}
                         <tr onclick="location.href='visualizar-usina/{{usina.usina_id}}'" class="clickable-row">
                            <td>{{usina.usina_nome}}</td>
                            <td>{{usina.usina_local}}</td>
                             <td >{{usina.dia}}</td>
                            <td >{{usina.mes}}</td>
                            <td class="last">{{usina.potencia}}</td>
                        </tr>
                {% endfor %}

            </table>
        </div>

        <div class="container-graph">
            <h1>Geração Total (KwH)</h1>
            <canvas id="myChart"  width="50%"></canvas>


        </div>




    </div>





</body>

<script>

const ctx2 = document.getElementById('myChart').getContext('2d');
const myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: [{% for dia in generationHolder %} '{{dia.data}}', {% endfor %} ],
        datasets: [


        {
            label: ['Energia Gerada'],
            data: [{% for graph in generationHolder %} {{graph.valor}}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }

        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

</html>