{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC</title>

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body>
    <header>
        <div class="link-container">
            <a href="/cadastrar_inversor">Cadastrar Equipamento</a>
        </div>
        <div class="link-container">
            <a href="/equipamentos">Equipamentos</a>
        </div>
        <div class="link-container">
            <a href="/cadastrar_localidade">Cadastrar usina</a>
        </div>
        <div class="link-container" id="selected">
            <a href="/">Usinas</a>
        </div>
        <div class="link-container">
            <a href="/performance">Performance</a>
        </div>


    </header>



    <div class="content">


        <div class="container">
            <h1>Lista inversores</h1>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Local</th>
                    <th>Mais INFO</th>

                </tr>

                {% for inversor in inversores %}
                    <tr>
                        <td>{{inversor.endereco_inversor}}</td>
                        <td>{{inversor.nome}}</td>
                        <td >{{inversor.marca}}</td>
                        <td >{{inversor.local_id.nome}}</td>
                        <td class="last"><a href="info-inversor/{{inversor.id}}"><button class="generic-button">Mais informações</button></a></td>
                    </tr>
                {% endfor %}



            </table>
        </div>
    </div>





</body>

</html>