 {% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC</title>

     <link rel="stylesheet" href="{% static 'style/style.css' %}">
     <link rel="stylesheet" href="{% static 'style/usina-style.css' %}">

<!--    <link rel="stylesheet" href="style/style.css">-->
<!--    <link rel="stylesheet" href="style/usina-style.css">-->

</head>

<body>
    <!-- {% if localidade %}
        <a href="/index" class="message-label">
            <div class="message">
                <h1>LOCALIZAÇÃO </h1>
                <h1>CADASTRADA COM SUCESSO!</h1>
            </div>
        </a>
    {% endif %} -->




    <header>

        <div class="link-container">
            <a href="/cadastrar_inversor">Cadastrar Equipamento</a>
        </div>
        <div class="link-container">
            <a href="/equipamentos/1">Equipamentos</a>
        </div>
        <div class="link-container">
            <a href="/cadastrar_localidade">Cadastrar usina</a>
        </div>
        <div class="link-container" id="selected">
            <a href="/">Usinas</a>
        </div>
        <div class="link-container">
            <a href="/performance">Performance</a>
        </div>
       

    </header>

    <div class="card-container-usina">

        <div class="card-usina">
            <h3 class="card-header-usina">{{usina.nome}}</h3>
            <div class="card-content-usina">{{usina.cidade}}</div>
            <div class="card-content-usina">Potencia: {{potencia}}</div>
        </div>

        <div class="card-usina">
            <h3 class="card-header-usina">Geração Hoje</h3>
            <div class="card-content-usina">{{totalDia}}</div>
        </div>
        <div class="card-usina">
            <h3 class="card-header-usina">Geração Mês</h3>
            <div class="card-content-usina">{{totalMes}}</div>
        </div>
        <div class="card-usina">
            <h3 class="card-header-usina">Geração Anual</h3>
            <div class="card-content-usina">{{totalAno}}</div>
        </div>
        <div class="card-usina">
            <h3 class="card-header-usina">Fator de capacidade</h3>
            <div class="card-content-usina">WIP</div>
        </div>

    </div>


    <div class="content-usina">
        <div class="usinas">
            <h2>Usinas</h2>

            {% for usina in usinas %}

                {% if usina.selected %}
                    <a onclick="location.href='/visualizar-usina/{{usina.id}}'" class="selected">
                        <h4>{{usina.nome}}</h4>
                    </a>

                {% else %}
                    <a onclick="location.href='/visualizar-usina/{{usina.id}}'" >
                        <h4>{{usina.nome}}</h4>
                    </a>

                {% endif %}
            {% endfor %}


        </div>



        <div class="graph1">
            <img src="Potencia.png" alt="">

        </div>



        <div class="graph2">
            <img src="Potencia.png" alt="">


        </div>





    </div>







</body>

</html>