 {% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC</title>

     <link rel="stylesheet" href="{% static 'style/style.css' %}">
     <link rel="stylesheet" href="{% static 'style/visualizar-equipamento-style.css' %}">

<!--    <link rel="stylesheet" href="style/style.css">-->
<!--    <link rel="stylesheet" href="style/visualizar-equipamento-style.css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <header>
        <div class="link-container">
            <a href="/cadastrar_inversor">Cadastrar Equipamento</a>
        </div>
        <div class="link-container"  id="selected">
            <a href="/equipamentos/1/dia">Equipamentos</a>
        </div>
        <div class="link-container">
            <a href="/cadastrar_localidade">Cadastrar usina</a>
        </div>
        <div class="link-container">
            <a href="/">Usinas</a>
        </div>
        <div class="link-container">
            <a href="/performance">Performance</a>
        </div>
    </header>



    <div class="content-visualizar-equipamento">

        <div class="equipamento">
            <h2>Equipamentos</h2>
            {% for inversor in inversores %}

                {% if inversor.selected %}
                    <a onclick="location.href='/visualizar-equipamento/{{usina.id}}/{{inversor.id}}'" class="selected" >
                        <h4>{{inversor.nome}}</h4>
                    </a>
                {% else %}
                    <a onclick="location.href='/visualizar-equipamento/{{usina.id}}/{{inversor.id}}'">
                        <h4>{{inversor.nome}}</h4>
                    </a>
                {% endif %}

            {% endfor %}


        </div>



        <div class="card-container-equipamento">

            <div class="card-equipamento">
                <h3 class="card-header-equipamento">Geração Hoje</h3>
                <div class="card-content-equipamento">{{totalDia}}</div>

            </div>
            <div class="card-equipamento">
                <h3 class="card-header-equipamento">Geração Mês</h3>
                <div class="card-content-equipamento">{{totalMes}}</div>
            </div>
            <div class="card-equipamento">
                <h3 class="card-header-equipamento">Horas Hoje</h3>
                <div class="card-content-equipamento">{{horasHoje}}</div>
            </div>
            <div class="card-equipamento">
                <h3 class="card-header-equipamento">Frequencia</h3>
                <div class="card-content-equipamento">{{valorFrequencia}}</div>
            </div>
            <div class="card-equipamento">
                <h3 class="card-header-equipamento">Potencia</h3>
                <div class="card-content-equipamento">{{potencia}}</div>
            </div>
        </div>
    
        <div class="container-graphs">

            <div class="graph-row-1">
                <div class="graph">
                    <h1>Potência X Temperatura</h1>
                    <canvas id="myChartPotencia"  width="50%"></canvas>

                </div>
                <div class="graph">
                    <h1>Tensões de Linha (V) X Fator de Potência</h1>
                    <canvas id="myChartTensoes"  width="50%"></canvas>
                </div>
            </div>

            <div class="graph-row-2">
                <div class="graph">
                    <h1>Correntes de Linha (A)</h1>
                    <canvas id="myChartCorrente"  width="50%"></canvas>

                </div>

            </div>

            <div class="alerts">
                <h1>Alertas</h1>

            </div>
        </div>
    </div>
</body>


<script>

const ctx = document.getElementById('myChartPotencia').getContext('2d');


const myChart = new Chart(ctx, {
    type: 'line',


        data: {
            labels: [{% for leitura in potenciaGraph %} '{{leitura.data}}', {% endfor %}],
            datasets: [

            {
                label: 'DC (kW)',
                data: [{% for leitura in potenciaGraph %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                    'rgba(153, 102, 255, 1)',
                ],
                borderColor: [
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 0.5
            },
            {
                label: 'Rede (kW)',
                data: [{% for leitura in potenciaRedeGraph %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                  'rgba(255, 206, 86, 1)'

                ],
                borderColor: [
                  'rgba(255, 206, 86, 1)'

                ],
                borderWidth: 1
            },
            {
                label: 'Temp (°C)',
                data: [{% for leitura in temperaturaGraph %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                                    'rgba(75, 192, 192, 1)',

                ],
                borderColor: [
                                    'rgba(75, 192, 192, 1)',

                ],
                borderWidth: 1
            },




        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


const ctx2 = document.getElementById('myChartCorrente').getContext('2d');

const myChart2 = new Chart(ctx2, {
    type: 'line',


        data: {
            labels: [{% for leitura in correnteDc1 %} '{{leitura.data}}', {% endfor %}],
            datasets: [

            {
                label: 'Fase A',
                data: [{% for leitura in correnteDc1 %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                    'rgba(153, 102, 255, 1)',
                ],
                borderColor: [
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 0.5
            },
            {
                label: 'Fase B',
                data: [{% for leitura in correnteDc2 %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                  'rgba(255, 206, 86, 1)'

                ],
                borderColor: [
                  'rgba(255, 206, 86, 1)'

                ],
                borderWidth: 1
            },
            {
                label: 'Fase C',
                data: [{% for leitura in correnteDc3 %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                                    'rgba(75, 192, 192, 1)',

                ],
                borderColor: [
                                    'rgba(75, 192, 192, 1)',

                ],
                borderWidth: 1
            },




        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


const ctx3 = document.getElementById('myChartTensoes').getContext('2d');

const myChart3 = new Chart(ctx3, {
    type: 'line',
        data: {
            labels: [{% for leitura in tensaoA %} '{{leitura.data}}', {% endfor %}],
            datasets: [

            {
                label: 'Tensão A',
                data: [{% for leitura in tensaoA %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                    'rgba(153, 102, 255, 1)',
                ],
                borderColor: [
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 0.5
            },
            {
                label: 'Tensão B',
                data: [{% for leitura in tensaoB %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                  'rgba(255, 206, 86, 1)'

                ],
                borderColor: [
                  'rgba(255, 206, 86, 1)'

                ],
                borderWidth: 1
            },
            {
                label: 'Tensão C',
                data: [{% for leitura in tensaoC %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                                    'rgba(75, 192, 192, 1)',

                ],
                borderColor: [
                                    'rgba(75, 192, 192, 1)',

                ],
                borderWidth: 1
            },


            {
                label: 'Fator de Potência',
                data: [{% for leitura in fator_potencia %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                  'rgba(255, 99, 132, 1)',


                ],
                borderColor: [
                  'rgba(255, 99, 132, 1)',

                ],
                borderWidth: 1
            },
            {
                label: 'Tensão DC',
                data: [{% for leitura in Tensao_DC %} {{leitura.valor}}, {% endfor %}],

                backgroundColor: [
                    'rgba(54, 162, 235, 1)'

                ],
                borderColor: [
                     'rgba(54, 162, 235, 1)'

                ],
                borderWidth: 1
            },


        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>

</html>