<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC</title>

    <!-- <link rel="stylesheet" href="{% static 'style/style.css' %}"> -->

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/index-style.css">

</head>

<body>
    <!-- {% if localidade %}
        <a href="/index" class="message-label">
            <div class="message">
                <h1>LOCALIZAÇÃO </h1>
                <h1>CADASTRADA COM SUCESSO!</h1>
            </div>
        </a>
    {% endif %} -->




    <header>
        <div class="link-container">
            <a href="/cadastrar_inversor">Cadastrar Equipamento</a>
        </div>
        <div class="link-container">
            <a href="/equipamentos.html">Equipamentos</a>
        </div>
        <div class="link-container">
            <a href="/cadastrar_localidade">Cadastrar usina</a>
        </div>
        <div class="link-container" id="selected">
            <a href="/">Usinas</a>
        </div>
        <div class="link-container">
            <a href="/performance.html">Performance</a>
        </div>

    </header>

    <div class="card-container">
        <div class="card">
            <h3 class="card-header">Geração Dia</h3>
            <div class="card-content">100 °C</div>
        </div>
        <div class="card">
            <h3 class="card-header">Geração Mês</h3>
            <div class="card-content">100 °C</div>
        </div>
        <div class="card">
            <h3 class="card-header">Geração Anual</h3>
            <div class="card-content">100 °C</div>
        </div>
        <div class="card">
            <h3 class="card-header">CO2 Atual</h3>
            <div class="card-content">100 °C</div>
        </div>

    </div>



    <div class="content-index">
        <div class="container-list">

            <h1>Lista de Usinas</h1>
            <table class="factory-list-table">
                <tr>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>KWh Hoje</th>
                    <th>KWh Mês</th>
                    <th>Potência KW</th>

                </tr>

                
                <tr onclick="location.href='visualizar-usina.html'" class="clickable-row">
                    <a href="info-inversor/{{inversor.id}}" class="row-a"></a>
                    <td>NOME USINA</td>
                    <td>CIDADE</td>
                    <td >KW HOJE</td>
                    <td >KW MÊS</td>
                    <td class="last">POTENCIA KW</td>
                </tr>
                <tr onclick="location.href='visualizar-usina.html'" class="clickable-row">
                    <a href="info-inversor/{{inversor.id}}" class="row-a"></a>
                    <td>NOME USINA</td>
                    <td>CIDADE</td>
                    <td >KW HOJE</td>
                    <td >KW MÊS</td>
                    <td class="last">POTENCIA KW</td>
                </tr>
            
                <tr onclick="location.href='visualizar-usina.html'" class="clickable-row">
                    <a href="info-inversor/{{inversor.id}}" class="row-a"></a>
                    <td>NOME USINA</td>
                    <td>CIDADE</td>
                    <td >KW HOJE</td>
                    <td >KW MÊS</td>
                    <td class="last">POTENCIA KW</td>
                </tr>
            
                <tr onclick="location.href='visualizar-usina.html'" class="clickable-row">
                    <a href="info-inversor/{{inversor.id}}" class="row-a"></a>
                    <td>NOME USINA</td>
                    <td>CIDADE</td>
                    <td >KW HOJE</td>
                    <td >KW MÊS</td>
                    <td class="last">POTENCIA KW</td>
                </tr>
                <tr onclick="location.href='visualizar-usina.html'" class="clickable-row">
                    <a href="info-inversor/{{inversor.id}}" class="row-a"></a>
                    <td>NOME USINA</td>
                    <td>CIDADE</td>
                    <td >KW HOJE</td>
                    <td >KW MÊS</td>
                    <td class="last">POTENCIA KW</td>
                </tr>
            </table>
        </div>

        <div class="container-graph">

            <img src="Potencia.png" alt="">


        </div>




    </div>





</body>

</html>